@media screen and (max-width: 567px) {
    .wrapper {
	    width: 480px;
    }
      .header {
	    background-position: -225px -55px;
	}
	.header__nav > li {
	    margin:  15px 0 15px 0
	}
	.container__featured-projects__links > li:nth-child(2) {
	    margin-left: 31px;
	}
	.container__featured-projects__links img {
	    height: 200px;
	}
	.container__the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
	    width: auto;
	}
}