@media screen and (max-width: 1365px) {
        .wrapper {
        width: 960px;
    }
    .header__content {
        margin: 120px auto 80px;
    }
    .container__about-us > p {
        width: 475px;
        margin: 36px 0 30px 65px;        
    }
    .container__about-us > h4 {
        margin: 106px 0 0 167px;
    }
    .container__about-us > img {
        margin: 80px 100px 0 0;
    }
    .container__about-us-details > p:first-of-type {
        width: 250px;
        margin: 0 80px 0 65px;
    }
    .container__about-us-details > h5 {
        margin: 0 0px 0 100px;
    }
    .container__about-us-details > p:last-of-type {
        width: 500px;
        margin: 2px 0px 0 0px;
    }
    .container__featured-projects__links img {
        height: auto;
    }
    .container__featured-projects__links > li> a {
        line-height: 250px;
        font-size: 18px;
    }
    .container__featured-projects__submit {
      background-position: -250px 0;
    }
    .container__our-services__img {
        float: left;
        margin: 25px 0 0 0px;
    }
    .container__featured-projects__submit > p {
       font-size: 18px;
       margin: 41px 0 0 50px;
    }
    .container__featured-projects__submit > input {
       margin: 38px  68px 38px 0;
    }
    .container__team-quotes {
        padding: 72px 0 98px 44px;
        background-position: -250px 0;
    }
    .container__team-quotes ul >li  {
       width: 480px;
    }
    .container__team-quotes-img {
        top: -20px;
        right: 29px;
        width: 380px;
        height: auto;
    }
    .container__the-portfolio {
        padding: 0 20px 80px 20px;
    }
    .container__the-portfolio__galery > li {
        margin: 3px;
    }
    .container__the-portfolio__galery__hover-menu {
        height: 209px;
        top: 50%;
        margin: -80px 0 0 0;
        width: auto;
        padding: 0px 30px 0 30px;
    }
    .container__the-portfolio__galery__hover-menu > h4 {
        font: 18px Source Sans Pro, sans-serif; 
        margin: 0px 0 9px 0;
    }
    .container__the-portfolio__galery__hover-menu > h4:after {
        content: '';
        width: 23px;
        height: 1px;
        margin: 9px 0 0 0;
    }
    .container__the-portfolio__galery__hover-menu > p {
        font: 12px Open Sans Regular, sans-serif;
        height: 39px;
    }
    .container__start-project {
        margin: 34px 0 0 0px;
    }
    .container__the-team {
        margin: 0 69px 171px 69px;
    }
    .container__testimonials__slideshow-wrap {
        margin: 0 20px 0 20px;
    }
    .container__testimonials__slideshow-inner >ul > li {
        padding: 0px 10px 0 51px;
    }
    .container__testimonials__slideshow-inner >ul > li > img:nth-of-type(1) {
        margin-right: 50px;
    }
    .container__testimonials__slideshow-inner >ul > li >p {
        line-height: 21px;
    }   
    .container__contact-us > ul > li{
        margin: 0px 15px 0px 15px;
    }
        .container__submit-now {
        padding: 80px 90px 100px 90px;
    }
        .container__submit-now .e-mail {
        width: 239px;
        margin-right: 27px;
    }
    .container__map__active span {
        left: 59%;
    }
}
