*,:before,:after {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

article,aside,details,figcaption,figure,footer,header,nav,section,summary,main {
display:block
}

audio,canvas,video {
display:inline-block
}

audio:not([controls]) {
display:none;
height:0
}

[hidden] {
display:none
}

html {
font-size:100%;
overflow-y:scroll;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%
}

body {
margin:0;
background:#fff;
font:14px Helvetica,sans-serif;
color:#000
}

a {
color:#00f;
text-decoration:underline
}

a:hover {
text-decoration:none
}

img {
border:0;
vertical-align:middle;
max-width:100%;
height:auto
}

h1 {
font-size:200%
}

h2 {
font-size:150%
}

h3 {
font-size:120%
}

h4 {
font-size:110%
}

h5 {
font-size:100%
}

h6 {
font-size:90%
}

address {
font-style:italic
}

abbr[title] {
border-bottom:1px dotted
}

dfn {
font-style:italic
}

mark {
background:#ff0;
color:#000
}

code,kbd,pre,samp {
font-family:monospace,serif;
font-size:14px;
-webkit-hyphens:none;
-moz-hyphens:none;
-ms-hyphens:none;
hyphens:none
}

pre {
background:#f5f5f5;
color:#666;
font-family:monospace;
font-size:14px;
margin:20px 0;
overflow:auto;
padding:20px;
white-space:pre;
white-space:pre-wrap;
word-wrap:break-word
}

blockquote,q {
-webkit-hyphens:none;
-moz-hyphens:none;
-ms-hyphens:none;
hyphens:none;
quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
content:'';
content:none
}

blockquote {
font-size:1.3em;
font-style:italic;
margin:0 2em 1em
}

blockquote blockquote {
margin-right:0
}

blockquote cite,blockquote small {
font-size:.8em;
font-weight:400
}

blockquote em,blockquote i {
font-style:normal;
font-weight:300
}

blockquote strong,blockquote b {
font-weight:700
}

small {
font-size:smaller
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline
}

sup {
top:-.5em
}

sub {
bottom:-.25em
}

dt {
font-weight:700
}

dd {
margin:0 0 14px 14px
}

svg:not(:root) {
overflow:hidden
}

figure {
margin:0
}

button,input,select,textarea {
margin:0;
max-width:100%;
vertical-align:baseline;
font:100% Arial,sans-serif
}

form,fieldset {
margin:0;
padding:0;
border-style:none
}

button,input {
line-height:normal
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
-webkit-appearance:button;
cursor:pointer
}

button[disabled],input[disabled] {
cursor:default
}

input[type="checkbox"],input[type="radio"] {
padding:0
}

input[type="search"] {
-webkit-appearance:textfield;
padding-right:2px;
width:270px
}

input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0
}

textarea {
overflow:auto;
vertical-align:top
}

table {
border-collapse:collapse
}

th,td {
border:1px solid #ccc;
padding:3px 7px;
text-align:left;
vertical-align:top
}

th {
border-color:#999;
text-align:center;
vertical-align:middle
}

del {
color:#333
}

ins {
background:#fff9c0;
text-decoration:none
}

hr {
background:#555;
border:0;
height:1px;
margin:0 0 24px
}

ul li,ol li {
list-style-position:outside
}

ul {
list-style-type:disc;
margin:0 0 1.3em;
padding:0 0 0 15px
}

ol {
margin:0 0 1.3em;
padding:0 0 0 15px
}

dl,p,h1,h2,h3,h4,h5,h6,applet,embed,object,frameset {
margin:0 0 1.3em
}

.alignleft {
float:left;
margin:0 1.3em 14px 0
}

.alignright {
float:right;
margin:0 0 1.3em 10px
}

.aligncenter {
display:block;
margin:0 auto 1.3em
}

.text-left {
text-align:left
}

.text-right {
text-align:right
}

.text-center {
text-align:center
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  
@font-face {
font-family:'Big John';
src:url(../fonts/BigJohn.eot);
src:url(../fonts/BigJohn.woff2) format("woff2"),url(../fonts/BigJohn.woff) format("woff"),url(../fonts/fonts/BigJohn.ttf) format("truetype"),url(../fonts/BigJohn.svg#BigJohn) format("svg"),url(../fonts/BigJohn.eot?#iefix) format("embedded-opentype");
font-weight:400;
font-style:normal
}

.wrapper {
margin:0 auto;
max-width:1366px;
overflow:hidden
}

.header {	
background-image:url(../images/header-bg.jpg);
background-size: cover;
max-width: 1366px;
margin: 0 auto;
text-align: center;
padding-bottom: 77px;
}
.header__nav {
	position: relative;
}

.logo {
float:left;
margin:39px 0 0 97px
}
.logo > a {
text-decoration: none;
display: inline-block;
}

.logo h3 {
font:25px Big John,sans-serif;
color:#fff;
width: 100%;
margin: 0;
}
.nav {
  padding-left: 0;
  list-style: none;
  margin:39px 87px 0 0;
  background: transparent;
  float: right;
}
.nav > li {
	float: left;
}
.nav > li > a {
display:block;
border:1px solid transparent;
border-radius:15px;
width:80px;
height:33px;
font:16px Open Sans,sans-serif;
text-align:center;
margin:0;
padding:4px 0 0;
background: transparent;
text-decoration: none;
color: #fff;
}
#responsive-menu {
display:block;
margin-right: 15px;
padding: 0;
background: transparent;
text-decoration: none;
color: #fff;
}
.nav > li > a:hover {
border:1px solid #fff;
background: transparent;
}
#responsive-menu {
	display: none;
}

.clear {
clear:both
}

.header__content {
display: inline-block;
max-width:620px;
height:135px;
margin:210px auto 207px
}

.header__content h2 {
font:35px Source Sans Pro,sans-serif;
text-transform:uppercase;
text-align:center;
color:#fff;
word-spacing:5px;
letter-spacing:6px;
margin:0 0 26px 4px
}

.header__content > p {
font:16px Open Sans,sans-serif;
text-align:center;
color:#fff;
word-spacing:0;
letter-spacing:.8px;
line-height:1.8em
}

.link-green {
width:36px;
height:36px;
background-color:transparent;
background-image:url(../images/sprite-1.png);
background-position:-15px -7px;
display:block;
margin:0 auto 0px;
border-radius:18px
}

.container h4 {
color:#333b46;
font:22px Source Sans Pro,sans-serif;
text-transform:uppercase;
margin:0 0 40px;
letter-spacing:2.6px
}

.container p {
color:#81868e;
font:14px Open Sans,sans-serif;
margin:0;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.8
}

.container__about-us {
padding:0 0 101px;
}

.container__about-us > p {
width:475px;
margin:36px 0 0 265px
}

.container__about-us > h4 {
margin:106px 0 0 267px;
display:inline-block
}

.container__about-us > img {
margin:80px 265px 0 0;
float: right;	
width:204px;
float:right
}

.button {
height:37px;
display:inline-block;
color:#fff;
font:16px Open Sans,sans-serif;
text-decoration:none;
border:1px solid #fff;
border-radius:18px
}

.container__about-us > a {
margin:29px 0 0 266px;
color:#333b46;
padding:7px 28px 0;
border:1px solid #333b46
}

.container__about-us-details {
	display: inline-block;
	min-width: 100%;
background-color:#f3f3f3;
overflow:hidden;
padding:0 0 96px;
position:relative
}

.description-header > h4 {
text-align:center;
margin:0 0 28px
}

.description-header > p {
text-align:center
}

.description-header {
width:468px;
margin:0 auto;
padding:72px 0 57px
}

.about-us-details__links {
margin:auto;
padding:0;
list-style:none;
position:relative;
float:left;
left:50%
}

.about-us-details__links > li {
display:inline-block;
margin:0 13px 0 14px;
position:relative;
float:left;
right:50%
}

.about-us-details__links > li > a {
display:block;
width:53px;
height:53px;
border-radius:26px;
background-color:#ccc
}

.about-us-details__links > li:nth-child(1) > a {
background-position:-16px -66px;
background-image:url(../images/sprite-1.png)
}

.about-us-details__links > li:nth-child(2) > a {
background-position:-17px -128px;
background-image:url(../images/sprite-1.png)
}

.about-us-details__links > li:nth-child(3) > a {
background-position:-18px -191px;
background-image:url(../images/sprite-1.png)
}

.container h5 {
color:#464646;
font:21px Source Sans Pro,sans-serif;
margin:0;
letter-spacing:1.7px
}

.container__about-us-details > p:first-of-type {
font:19px Source Sans Pro,sans-serif;
width:325px;
margin:0 0 0 170px;
float:left;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.5
}

.container__about-us-details > h5 {
margin:0 0 0 170px;
font-weight:700;
padding:55px 0 25px
}

.container__about-us-details > p:last-of-type {
width:520px;
margin:2px 0 0 125px;
float:left
}

.colortext-green {
color:#19bd9a;
font-weight:700;
letter-spacing:1px
}

.colortext-dark {
color:#636971;
font-weight:700;
letter-spacing:1px
}

.featured-projects__links {
margin:-3px auto 0 auto;
padding:0;
list-style:none;
overflow:hidden;
background-color:#050403
}

.featured-projects__links > li {
float:left;
position:relative;
height:auto
}

.featured-projects__links > li:nth-child(1) {
width:51.317715959004%
}

.featured-projects__links > li:nth-child(2) {
width:24.377745241581%
}

.featured-projects__links > li:nth-child(3) {
width:24.304538799414%
}

.featured-projects__links img {
width:100%;
height:319px;
z-index:1001;
position:relative;
opacity:.2;
transition:all 1.5s ease-in-out 0s
}

.featured-projects__links > li > a {
background-color:#14171c;
display:block;
text-transform:uppercase;
text-decoration:none;
text-align:center;
vertical-align:center;
font:22px Source Sans Pro,sans-serif;
letter-spacing:3px;
z-index:1000;
height:100%;
line-height:319px;
position:absolute;
top:0;
left:0;
margin:0;
width:100%;
padding:0;
color:#fff;
opacity:.99;
background-color:rgba(0,0,0,1)
}

.featured-projects__links img:hover {
opacity:1;
transition:all 2s ease-in-out 0s
}

.bold {
font-weight:700
}

.featured-projects__submit {
width:100%;
background-image:url(../images/container__featured-projects__submit_img.jpg);
background-repeat:no-repeat;
overflow:hidden
}

.featured-projects__submit > p {
color:#fff;
font:20px Open Sans,sans-serif;
display:inline-block;
margin:41px 0 0 170px;
letter-spacing:.6px
}

.featured-projects__submit > input {
color:#fff;
width:140px;
height:37px;
border:1px solid #fff;
background-color:transparent;
border-radius:18px;
font:16px Open Sans,sans-serif;
float:right;
margin:38px 168px 38px 0;
outline:none
}

.container__our-services {
background-color:#f3f3f3;
padding:0 0 120px
}

.container__our-services > ul {
margin:0;
padding:0;
list-style:none
}

.our-services__description p {
font:16px Open Sans,sans-serif;
margin:0;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.8
}

.our-services__description {
margin:0 88px 0 0;
padding:0;
float:left
}

.our-services__description h5 {
margin:-4px 0 25px;
padding:0;
font-weight:700
}

.our-services__description > li:last-child > p {
margin:28px 0 0;
font:14px Open Sans,sans-serif;
line-height:25px
}

.our-services__description > li {
width:402px
}

ul.our-services__links {
margin:1px 45px 0 0;
float:left
}

.our-services__links > li > a {
display:block;
width:53px;
height:53px
}

.our-services__links > li {
margin:0 0 17px 169px
}

.our-services__links > li:nth-child(1) > a {
background-position:-250px -1px;
background-image:url(../images/sprite-1.png)
}

.our-services__links > li:nth-child(2) > a {
background-position:-192px -2px;
background-image:url(../images/sprite-1.png)
}

.our-services__links > li:nth-child(3) > a {
background-position:-130px -3px;
background-image:url(../images/sprite-1.png)
}

.our-services__links > li:nth-child(4) > a {
background-position:-66px -3px;
background-image:url(../images/sprite-1.png)
}

.our-services__img {
float:left;
margin:55px 0 0 76px
}

.container__team-quotes h4 {
font:20px Source Sans Pro Light,sans-serif;
color:#f3f3f3
}

.container__team-quotes p {
color:#b2b3b3;
max-width:598px
}

.team-quotes__img {
position:absolute;
top:-36px;
right:99px;
width:407px;
height:327px
}

.container__team-quotes {
background-image:url(../images/container__team-quotes_bg.jpg);
background-repeat:no-repeat;
position:relative;
padding:72px 0 98px 84px
}

.container__team-quotes > ul > li:nth-child(2) {
margin:48px 0 22px
}

.container__team-quotes > ul > li:nth-child(3) {
margin:0 0 6px
}

.container__team-quotes > ul {
list-style:none;
margin:0
}

.container__team-quotes > ul > li:nth-child(2) > p {
font:16px Open Sans,sans-serif;
line-height:1.8
}

.container__team-quotes > ul > li:nth-child(3) > p {
font:bold 14px Open Sans,sans-serif;
text-transform:uppercase
}

.container__team-quotes > ul > li:nth-child(4) > p {
font:14px Open Sans,sans-serif;
text-transform:uppercase
}

.container__the-portfolio {
padding-bottom: 	100px;
background-color:#f3f3f3;
overflow:hidden;
position:relative;
max-width: 	100%;
text-align: center;	
}

.the-portfolio__nav {
padding:0;
margin:15px auto 0;
list-style:none;
float:left;
position:relative;
left:50%
}

.the-portfolio__nav > li {
display:inline-block;
float:left;
position:relative;
right:50%
}

.the-portfolio__nav > li > a {
display:block;
text-decoration:none;
color:#464646;
font:16px Open Sans,sans-serif;
padding:0 15px
}

.the-portfolio__nav > li > a:after {
content:'';
width:38px;
height:2px;
background-color:transparent;
display:block;
margin:10px auto 0
}

.the-portfolio__nav > li > a:hover:after {
content:'';
width:38px;
height:2px;
background-color:green;
background-image:url(../images/container__the-portfolio__nav_links-bg.jpg);
background-repeat:repeat-x;
display:block;
margin:10px auto 0
}

.the-portfolio__nav > li > a:active:after {
content:'';
width:38px;
height:2px;
background-color:green;
background-image:url(../images/container__the-portfolio__nav_links-bg.jpg);
background-repeat:repeat-x;
display:block;
margin:10px auto 0
}

.the-portfolio__galery {
display:inline-block;
list-style:none;
margin:55px 0 0;
padding:0;
column-gap:0;
-moz-column-gap:0;
-webkit-column-gap:0;
column-gap:0;
-moz-column-count:4;
-webkit-column-count:1;
column-count:4;
max-width: 82%
}

.the-portfolio__galery > li {
padding:0;
display:inline-block;
margin:5px;
position:relative;
overflow:hidden;
height:auto;
vertical-align:top;
background-color:rgba(0,0,0,1)
}

.galery__img {
width:270px;
height:auto;
z-index:1000;
position:relative
}

.galery__hover-menu {
z-index:1001;
transition:all 2.4s ease-in-out 0s;
visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
height:209px;
position:absolute;
top:50%;
left:0;
margin:-105px 0 0;
width:270px;
padding:0 31px 0 42px;
}

.the-portfolio__galery > li:hover .galery__hover-menu {
visibility:visible;
  opacity:1;
  transition-delay:0s;
}

.the-portfolio__galery > li:hover .galery__img {
opacity:.18;
    transition: linear 0.5s,opacity 0.5s linear;
}

.galery__hover-menu > h4 {
font:22px Source Sans Pro,sans-serif;
color:#19bd9a;
margin:-4px 0 29px
}

.galery__hover-menu > h4:after {
content:'';
width:23px;
height:1px;
background-color:#19bd9a;
display:block;
margin:14px 0 0
}

.galery__hover-menu > p {
font:12px Open Sans Regular,sans-serif;
color:#b2b3b3;
line-height:1.6;
height:56px
}

.galery__hover-menu > a {
width:28px;
height:28px;
display:block;
float:left
}

.galery__hover-menu > a:nth-of-type(1) {
background-image:url(../images/sprite-1.png);
background-position:-1px -516px;
margin:55px 0 0
}

.galery__hover-menu > a:nth-of-type(2) {
background-image:url(../images/sprite-1.png);
background-position:0 -480px;
margin:55px 0 0 7px
}

.container__start-project {
width:100%;
background:url(../images/container__start-project_bg.jpg) no-repeat center center;
overflow:hidden;
margin:34px 0 0 0px
}

.container__start-project > p {
color:#fff;
font:20px Open Sans,sans-serif;
text-align:center;
margin:52px 0 0;
letter-spacing:.8px
}

.container__start-project > a {
color:#fff;
width:140px;
height:37px;
border:1px solid #fff;
background-color:transparent;
border-radius:18px;
font:16px Open Sans,sans-serif;
text-align:center;
text-decoration:none;
display:block;
padding:5px 0 0;
margin:28px auto 57px
}

.container__the-team {
margin:0 169px 171px
}

.the-team__slideshow-inner {
overflow:hidden;
position:relative;
width:100%;
height:100%
}

.the-team__slideshow-inner >ul {
list-style:none;
margin:0;
padding:0;
overflow:hidden;
position:relative;
top:0;
height:300%;
width:100%
}

.the-team__slideshow-inner >ul > li {
padding:1px 0 0;
position:relative;
float:right;
width:100%;
text-align:right;
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(1) {
float:left;
height:364px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
margin:43px 45px 0 0
}

.the-team__slideshow-inner >ul > li >h5 {
padding:0 41px 5px 0;
margin:27px 0 0;
border-right:4px solid #19bd9a;
font:20px Open Sans Regular,sans-serif
}

.the-team__slideshow-inner >ul > li >h6 {
padding:0 42px 0 0;
margin:0 0 24px;
border-right:4px solid #19bd9a;
font:italic 15px Source Sans Pro Light,sans-serif;
text-transform:uppercase;
letter-spacing:1.3px
}

.the-team__slideshow-inner >ul > li >p {
letter-spacing:.7px;
padding:0 46px 0 0;
font:14px Open Sans Regular,sans-serif;
line-height:25px
}

.the-team__slideshow-wrap {
display:block;
position:relative;
height:365px
}

.the-team__slideshow-wrap input[type=radio] {
position:absolute;
left:50%;
bottom:0;
z-index:100;
visibility:hidden
}

.the-team__slideshow-wrap label {
position:absolute;
left:50%;
bottom:-71px;
z-index:100;
width:10px;
height:10px;
background-color:#fff;
border:1px solid #19bd9a;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
cursor:pointer
}

.the-team__slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] {
background-color:#19bd9a;
border:1px solid #19bd9a
}

.the-team__slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] {
background-color:#19bd9a;
border:1px solid #19bd9a
}

.the-team__slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] {
background-color:#19bd9a;
border:1px solid #19bd9a
}

.the-team__slideshow-wrap input[type=radio]#button-1:checked~.container__the-team__slideshow-inner > ul {
top:0
}

.the-team__slideshow-wrap input[type=radio]#button-2:checked~.container__the-team__slideshow-inner > ul {
top:-100%
}

.the-team__slideshow-wrap input[type=radio]#button-3:checked~.container__the-team__slideshow-inner > ul {
top:-200%
}

.the-team__slideshow-wrap label[for=button-1] {
margin-left:-20px
}

.the-team__slideshow-wrap label[for=button-3] {
margin-left:20px
}

.container__contact {
width:100%;
background-image:url(../images/container__contact_bg.jpg);
background-repeat:no-repeat;
overflow:hidden;
margin:0
}

.container__contact > p {
color:#fff;
font:20px Open Sans,sans-serif;
text-align:center;
margin:52px 0 0;
letter-spacing:.8px
}

.container__contact > a {
color:#fff;
width:140px;
height:37px;
border:1px solid #fff;
background-color:transparent;
border-radius:18px;
font:16px Open Sans,sans-serif;
text-align:center;
text-decoration:none;
display:block;
padding:5px 0 0;
margin:28px auto 57px
}

.container__testimonials {
background:#f3f3f3;
padding:0 0 99px
}

.testimonials__slideshow-inner {
overflow:hidden;
position:relative;
width:100%;
height:100%
}

.testimonials__slideshow-inner >ul {
list-style:none;
margin:0;
padding:0;
overflow:hidden;
position:relative;
top:0;
height:300%;
width:100%
}

.testimonials__slideshow-inner >ul > li {
padding:0 114px 0 101px;
position:relative;
width:100%;
text-align:left;
background-color:#fff
}

.testimonials__slideshow-inner >ul > li > img:nth-of-type(1) {
float:left;
height:130px;
width:130px;
border-radius:50%;
margin-right:70px
}

.testimonials__slideshow-inner >ul > li >h5 {
margin:17px 0 0;
font:bold 16px Open Sans,sans-serif;
color:#19bd9a
}

.testimonials__slideshow-inner >ul > li >h6 {
padding:0 42px 0 0;
margin:3px 0 0;
font:14px Open Sans,sans-serif;
text-transform:uppercase;
color:#464646
}

.testimonials__slideshow-inner >ul > li >p {
letter-spacing:.9px;
font:16px Open Sans,sans-serif;
line-height:29px;
color:#81868e;
height:87px;
overflow:auto
}

.testimonials__slideshow-wrap {
display:block;
position:relative;
height:316px;
background-color:#fff;
padding:51px 0 117px;
margin:0 103px 0 93px;
box-shadow:1px 1px 0 rgba(231,231,231,1)
}

.testimonials__slideshow-wrap input[type=radio] {
position:absolute;
left:50%;
bottom:0;
z-index:100;
visibility:hidden
}

.testimonials__slideshow-wrap label {
position:absolute;
left:50%;
bottom:60px;
z-index:100;
width:10px;
height:10px;
background-color:#fff;
border:1px solid #19bd9a;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
cursor:pointer
}

.testimonials__slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] {
background-color:#19bd9a;
border:1px solid #19bd9a
}

.testimonials__slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] {
background-color:#19bd9a;
border:1px solid #19bd9a
}

.testimonials__slideshow-wrap input[type=radio]#button-6:checked~label[for=button-6] {
background-color:#19bd9a;
border:1px solid #19bd9a
}

.testimonials__slideshow-wrap input[type=radio]#button-4:checked~.container__testimonials__slideshow-inner > ul {
top:0
}

.testimonials__slideshow-wrap input[type=radio]#button-5:checked~.container__testimonials__slideshow-inner > ul {
top:-100%
}

.testimonials__slideshow-wrap input[type=radio]#button-6:checked~.container__testimonials__slideshow-inner > ul {
top:-200%
}

.testimonials__slideshow-wrap label[for=button-4] {
margin-left:-20px
}

.testimonials__slideshow-wrap label[for=button-6] {
margin-left:20px;
overflow:hidden
}

.container__news {
background-image:url(../images/container__blog_bg.jpg)
}

.news__description-header {
margin:0 0 0 98px
}

.news__description-header > h4 {
text-align:left;
color:#fff
}

.news__description-header > p {
text-align:left;
color:#b2b3b3
}

.news__slideshow-inner {
overflow:hidden;
position:relative;
margin:0 0 0 170px;
padding:0;
width:auto;
height:100%;
display:inline-block;
vertical-align:top
}

.news__slideshow-inner >ul {
list-style:none;
margin:0;
padding:0 0 33px;
overflow:hidden;
position:relative;
top:0;
height:300%;
width:585px
}

.news__slideshow-inner >ul > li {
padding:0;
position:relative;
width:auto;
    text-align:left;
overflow:hidden
}

.news__slideshow-inner >ul > li >h5 {
margin:0;
font:20px Open Sans,sans-serif;
color:#e1e4e9;
letter-spacing:.8px
}

.news__slideshow-inner >ul > li >h6 {
padding:0;
margin:6px 0 12px;
font:italic 15px Source Sans Pro Light,sans-serif;
text-transform:uppercase;
letter-spacing:1.3px;
color:#b2b3b3
}

.news__slideshow-inner > ul > li > p {
letter-spacing:.9px;
font:14px Open Sans Regular,sans-serif;
line-height:25px;
color:#81868e;
margin:50px 0 45px;
height:125px;
overflow:auto
}

.news__slideshow-inner >ul > li >a {
font:16px Open Sans Regular,sans-serif;
color:#b2b3b3;
text-decoration:none;
display:block;
padding-bottom:4px
}

.stats {
padding:0;
margin:0
}

.stats > li {
display:inline-block;
padding:0
}

.stats > li >p {
color:#464646;
margin:0;
font:14px Source Sans Pro Light,sans-serif
}

.news__slideshow-wrap {
display:block;
position:relative;
height:456px;
background:transparent;
padding:36px 0 96px;
margin:0
}

.news__slideshow-wrap input[type=radio] {
position:absolute;
left:50%;
bottom:30px;
z-index:100;
visibility:hidden
}

.news__slideshow-wrap label {
position:absolute;
right:99px;
top:23.5%;
z-index:100;
width:10px;
height:10px;
background-color:transparent;
border:1px solid #b2b3b3;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
cursor:pointer
}

.news__slideshow-wrap input[type=radio]#button-7:checked~label[for=button-7] {
background-color:#b2b3b3
}

.news__slideshow-wrap input[type=radio]#button-8:checked~label[for=button-8] {
background-color:#b2b3b3;
border:1px solid #b2b3b3
}

.news__slideshow-wrap input[type=radio]#button-9:checked~label[for=button-9] {
background-color:#b2b3b3;
border:1px solid #b2b3b3
}

.news__slideshow-wrap input[type=radio]#button-7:checked~.container__news__slideshow-inner > ul {
top:0
}

.news__slideshow-wrap input[type=radio]#button-8:checked~.container__news__slideshow-inner > ul {
top:-100%
}

.news__slideshow-wrap input[type=radio]#button-9:checked~.container__news__slideshow-inner > ul {
top:-200%
}

.news__slideshow-wrap label[for=button-7] {
margin-top:-20px
}

.news__slideshow-wrap label[for=button-9] {
margin-top:20px
}

.container__our-price {
background-color:#f3f3f3;
overflow:hidden;
padding:0 0 101px
}

.container__our-price > ul {
padding:0;
margin:0;
list-style:none;
margin:0 auto;
float:left;
left:50%;
position:relative;
background-color:transparent
}

.our-price__block {
box-shadow:1px 1px 0 rgba(231,231,231,1);
height:302px;
width:233px;
background-color:#fff;
display:inline-block;
vertical-align:top;
float:left;
right:50%;
position:relative;
margin:0 34px
}

.our-price__block >h3 {
font:bold 19px Open Sans,sans-serif;
background-color:#19bd9a;
color:#fff;
text-align:center;
line-height:65px;
padding:2px 0 0;
letter-spacing:2px
}

.our-price__block > h5 {
font:43px Source Sans Pro Black,sans-serif;
color:#19bd9a;
text-align:center;
padding:32px 0 0 3px;
letter-spacing:-1px
}

.our-price__block > p {
font:20px Open Sans,sans-serif;
color:#81868e;
text-align:center;
margin:-3px 0 0
}

.our-price__block >a {
font:16px Open Sans,sans-serif;
background-color:#19bd9a;
color:#fff;
text-align:center;
line-height:65px;
padding:0 19px 2px 0;
position:absolute;
bottom:0;
display:inline-block;
width:100%;
text-decoration:none
}

.our-price__block >a::after {
content:'';
position:absolute;
background-image:url(../images/sprite-1.png);
background-position:1px -552px;
background-repeat:no-repeat;
width:7px;
height:12px;
margin:26px 0 0 10px
}

.block__servise-list {
margin:28px 0 0 33px;
padding:0;
list-style:none
}

.block__servise-list > li {
margin:0 0 5px
}

.container__subscribe-us {
background-image:url(../images/container__subscribe-us_bg.jpg);
overflow:hidden
}

.container__subscribe-us h4 {
color:#fff;
margin:0 0 12px
}

.container__subscribe-us > form {
position:relative
}

.container__subscribe-us ul {
margin:2px 0 0;
padding:0 0 100px;
list-style:none;
position:relative;
float:left;
left:50%
}

.container__subscribe-us li {
margin:0;
padding:0;
position:relative;
float:left;
right:50%
}

.e-mail {
background-color:transparent;
border:1px solid #81868e;
color:#f1f2f2;
font:14px Open Sans,sans-serif;
height:41px;
padding:0 0 0 21px;
margin:0 9px 0 0
}
.container__subscribe-us .e-mail {
width: 358px;
}
.submit-button {
height:41px;
background-color:#19bd9a;
color:#fff;
border:none;
text-transform:uppercase;
padding:2px 49px 0
}

.container__contact-us {
background-color:#f3f3f3;
overflow:hidden;
position:relative
}

.container__contact-us > ul {
margin:0 0 101px;
padding:0;
list-style:none;
position:relative;
float:left;
left:50%
}

.container__contact-us > ul > li {
margin:0 20px;
padding:0 0 23px;
position:relative;
float:left;
right:50%;
background-color:#fff;
box-shadow:1px 1px 0 rgba(231,231,231,1);
width:287px
}

.contact-us__contacts > dt {
margin:28px 0 18px;
padding:0;
font:16px Open Sans Regular,sans-serif;
color:#464646;
text-align:center
}

.contact-us__contacts {
margin:0;
padding:0
}

.contact-us__contacts a {
margin:0 0 -10px;
display:block;
text-align:center;
padding:0 14px 0 0;
font:14px Open Sans Regular,sans-serif;
color:#81868e;
text-decoration:none;
text-transform:uppercase
}

.contact-us__office {
margin:-2px 0 0;
display:block;
text-align:center;
padding:0 14px 0 0;
font:14px Open Sans Regular,sans-serif;
color:#81868e;
text-transform:uppercase;
height:28px;
line-height:20px
}

.container__submit-now {
padding:80px 213px 129px;

}

.container__submit-now .submit-button {
width:100%;
text-transform:uppercase;
font:16px Open Sans Regular,sans-serif;
height:53px
}

.container__submit-now .e-mail {
  display: inline-block;
width: 30.5%;
margin-left: -4px;
margin-right:4.25%;
border-color:#d8dce0;
height:41px;
color:#a9a9a9;
font:14px Open Sans Regular,sans-serif;
letter-spacing:.8px
}

.container__submit-now .e-mail:nth-of-type(3) {
margin-right: 0;
}
.container__submit-now .e-mail:nth-of-type(1) {
margin-left: 0;
}
.container__submit-now textarea {
border-color:#d8dce0;
width:100%;
height:190px;
margin:29px 0 30px;
resize:none;
color:#a9a9a9;
font:14px Open Sans Regular,sans-serif;
letter-spacing:.8px;
padding:5px 0 0 21px
}

.container__map {
padding:0;
position:relative;
overflow:hidden;
width:100%;
height:100%
}

.container__map iframe {
z-index:1001;
position:relative;
width:1366px;
height:496px;
opacity:.18;
transition:all 1.5s ease-in-out 0s
}

.container__map_active {
z-index:1000;
display:block;
height:100%;
position:absolute;
top:0;
left:0;
margin:0;
width:100%;
padding:0
}

.container__map_active > a {
display:block;
text-align:center;
height:496px;
line-height:496px;
text-decoration:none;
color:#fff;
opacity:.995;
background-color:rgba(0,0,0,1);
padding:0 30px 0 0;
font-size:16px;
letter-spacing:1.1px
}

.container__map iframe:hover {
opacity:1;
transition:all 2s ease-in-out 0s
}

.container__map_active span {
width:18px;
height:18px;
position:absolute;
top:48%;
left:56.7%;
display:block;
margin:0;
background-image:url(../images/sprite-1.png);
background-position:-7px -268px
}

.footer {
padding:69px 0 90px;
width:100%;
background-color:#f3f3f3
}

.footer > h3 {
font:25px Big John,sans-serif;
text-align:center;
color:#323a45;
padding:0;
margin:0
}

.footer > p {
font:14px Open Sans ,sans-serif;
text-align:center;
color:#81868e;
margin:17px 0 36px;
letter-spacing:.7px
}

.footer__social {
margin:0;
padding:0;
list-style:none;
position:relative;
float:left;
left:50%
}

.footer__social > li {
display:inline-block;
position:relative;
float:left;
right:50%;
margin:0 5px
}

.footer__social > li > a {
display:block;
width:26px;
height:26px
}

.footer__social >li:nth-child(1) > a {
background-image:url(../images/sprite-1.png);
background-position:-6px -311px
}

.footer__social >li:nth-child(2) > a {
background-image:url(../images/sprite-1.png);
background-position:-7px -349px
}

.footer__social >li:nth-child(3) > a {
background-image:url(../images/sprite-1.png);
background-position:-8px -386px
}

.footer__social >li:nth-child(4) > a {
background-image:url(../images/sprite-1.png);
background-position:-7px -453px
}

.footer__social >li:nth-child(5) > a {
background-image:url(../images/sprite-1.png);
background-position:-7px -419px
}

@media screen and (max-width: 1365px) {
.wrapper {
max-width:1365px
}

.container__about-us > p {
width:475px;
margin:36px 0 30px 220px
}

.container__about-us > h4 {
margin:106px 0 0 220px
}

.container__about-us > img {
margin:80px 230px 0 20px
}
.container__about-us > a {
	margin-left: 220px;
	margin-top: 0;
}

.featured-projects__links img {
height:auto
}

.featured-projects__links > li> a {
line-height:250px;
font-size:18px
}

.our-services__img {
float:left;
margin:55px 0px 0 10px;
}

.featured-projects__submit > p {
font-size:18px;
margin:41px 0 0 50px
}

.featured-projects__submit > input {
margin:38px 68px 38px 0
}

.container__team-quotes {
padding:72px 0 98px 44px;
}

.container__team-quotes ul >li {
width:480px
}

.team-quotes__img {
top:-20px;
right:29px;
width:380px;
height:auto
}

.container__the-portfolio {
}

.the-portfolio__galery > li {
margin:3px
}
.the-portfolio__galery {
max-width: 1120px
}

.galery__hover-menu {
height:209px;
top:50%;
margin:-80px 0 0;
width:auto;
padding:0 30px
}

.galery__hover-menu > h4 {
font-size:18px;
margin:0 0 9px
}

.galery__hover-menu > h4:after {
content:'';
width:23px;
height:1px;
margin:9px 0 0
}

.galery__hover-menu > p {
font-size:12px;
height:39px
}

.container__start-project {
margin:34px auto 0 auto
}

.container__the-team {
margin:0 69px 171px
}

.testimonials__slideshow-wrap {
margin:0 20px
}

.testimonials__slideshow-inner >ul > li {
padding:0 10px 0 51px
}

.testimonials__slideshow-inner >ul > li > img:nth-of-type(1) {
margin-right:50px
}

.testimonials__slideshow-inner >ul > li >p {
line-height:21px
}

.container__contact-us > ul > li {
margin:0 13px
}

.container__submit-now {
padding:80px 90px 100px 
}


.container__map_active span {
left:59%
}
}
 @media screen and (max-width: 1200px) {
.wrapper {
max-width:1200px
}
.header__content {
margin:120px auto 80px
}

.container__about-us > p {
width:475px;
margin:36px 0 30px 65px
}

.container__about-us > h4 {
margin:106px 0 0 167px
}

.container__about-us > img {
margin:80px 100px 0 0
}

.container__about-us-details > p:first-of-type {
width:250px;
margin:0 80px 0 95px
}

.container__about-us-details > h5 {
margin:0 0 0 100px
}

.container__about-us-details > p:last-of-type {
width:500px;
margin:2px 0 0
}
.our-services__links > li {
margin:0 0 17px 50px
}

} 

@media screen and (max-width: 959px) {
.wrapper {
max-width: 959px
}
.logo {
margin:25px 0 0 30px
}
.nav {
    margin: 29px 30px 0 0;
}
.container__about-us {
padding:0 0 70px
}

.container__about-us > img {
margin:80px 40px 0 0
}

.container__about-us > p {
width:400px;
margin:36px 0 10px 65px
}

.container__about-us > h4 {
margin:86px 0 0 107px
}

.container__about-us-details {
padding:0 0 76px
}

.container__about-us-details > p:first-of-type {
width:500px;
margin:0 80px 40px 100px;
display:block
}

.container__about-us-details > p:last-of-type {
width:630px;
margin:0 0 0 100px
}

.featured-projects__links > li> a {
line-height:200px;
font-size:16px
}

.featured-projects__submit {
background-position:-325px 0
}

.featured-projects__submit > p {
font-size:14px;
margin:47px 0 0 22px
}

.featured-projects__submit > input {
height:34px;
border-radius:17px;
font-size:15px;
margin:38px 30px 38px 0
}
.our-services__links > li {
    margin: 0 0 17px 169px;
}

.container__team-quotes {
padding:72px 0 80px 30px;
background-position:-330px 0;
background-size:cover
}

.team-quotes__img {
top:-18px;
right:26px;
width:320px
}

.container__team-quotes h4 {
margin:0 0 85px
}

.container__team-quotes p {
max-width:398px
}

.container__the-portfolio {
padding:0 20px 60px
}

.the-portfolio__galery {
margin:35px 0 0;
-moz-column-count:3;
-webkit-column-count:3;
column-count:3
}

.container__start-project {
margin:24px 0 0
}

.container__start-project > p {
font-size:16px;
margin:40px 0 0
}

.container__start-project > a {
margin:28px auto 27px
}

.container__the-team {
margin:0 45px 151px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
margin:43px 45px 0 0;
width:305px
}

.container__contact > p {
margin:32px 0 0
}

.container__contact > a {
margin:28px auto 27px
}

.container__testimonials {
padding:0 0 69px
}

.testimonials__slideshow-inner >ul > li {
padding:0 10px 0 25px
}

.testimonials__slideshow-inner >ul > li >p {
font-size:14px;
line-height:21px;
margin:0
}

.news__description-header {
margin:0 0 0 60px
}

.news__slideshow-inner {
margin:0 0 0 60px
}

.news__slideshow-wrap label {
right:55px
}

.container__our-price {
padding:0 0 80px
}

.our-price__block {
height:290px;
width:210px;
margin:0 20px
}

.container__subscribe-us ul {
padding:0 0 80px
}

.container__contact-us > ul > li {
margin:0 14px;
max-width:30%;
}

.container__contact-us > ul {
margin:0 0 80px
}

.container__submit-now {
padding:80px 40px
}


.container__map_active span {
left:62%;
top:47.5%
}

.footer {
padding:69px 0 70px
}
}
@media screen and (max-width: 859px) {
.container__contact-us > ul > li {
    margin: 0 10px 20px;
    float: none;
    display: inline-block;
    width: 310px;
    padding: 5px 5px 23px;
    vertical-align: top;
    overflow: auto;
}
}

@media screen and (max-width: 767px) {
.wrapper {
max-width:767px
}
.header {
  padding-bottom: 20px;
}
.logo {
text-align:center;
margin:5px 0 0 15px;
padding-bottom: 7px;
}
#responsive-menu {
display: block;
float: right;
margin-top: 6px;
}
.nav {
	position: absolute;
	top: 100%;
	width: 100%;
	display: none;
	margin-top: 0;
  background: #2F3033;
  z-index: 1200;
}
.nav > li {
float: none;
padding: 0;
border-top: 1px solid #eee;
background: #2F3033;
}
.nav > li > a {
background: #2F3033;
width: 100%;
border-radius: 0px;
padding: 14px 0;
font-size: 20px;
height: 100%;
border: none;
}

.nav > li:hover {
border-top: 1px solid #eee;
background: #474746;
border-left: 4px solid #00C09A;
}
.nav > li > a:hover {
border: none;
background: #474746;
}
.header__nav {
margin:0;
background: #2F3033;
}

.header__nav > li {
float:left;
right:50%;
margin:0
}

.header__nav > li > a {
width:auto;
padding:0 12px;
font-size:22px
}

.header__content {
margin:43px auto 15px
}

.header__content h2 {
font-size:30px;
margin:0 0 26px
}

.link-green {
margin:0 auto 17px
}

.header__content > p {
font-size:19px;
line-height:1.8em
}

.container__about-us {
padding:0 0 35px
}

.container__about-us > img {
margin:25px 25px 0 0;
width:194px;
height:auto
}

.container__about-us > h4 {
margin:40px 0 0 110px;
font-size:26px
}

.container__about-us > p {
width:425px;
margin:36px 0 30px 30px;
font-size:18px;
line-height:1.8
}

.container__about-us > a {
width:160px;
display:block;
text-align:center;
font-size:18px;
padding:5px 28px 0
}

.description-header {
width:auto;
margin:0 auto;
padding:35px 0
}

.description-header p {
font-size:18px;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.8
}

.description-header h4 {
font-size:26px;
margin:0 0 15px
}

.container__about-us-details > h5 {
margin:35px 0 30px;
text-align:center;
padding:0;
font-size:24px
}

.container__about-us-details > p:first-of-type {
font-size:21px;
width:auto;
margin:0 0 25px;
float:none;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.5
}

.container__about-us-details {
padding:0 35px 40px
}

.container__about-us-details > p:last-of-type {
width:auto;
margin:0;
float:none;
font-size:18px;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.8
}

.our-services__description p {
font-size:19px;
word-spacing:1.5px;
letter-spacing:.5px;
line-height:1.8
}

.featured-projects__links img {
width:auto
}

.featured-projects__links > li> a {
line-height:170px;
font-size:18px
}

.featured-projects__submit {
padding:0 35px;
text-align:center;
background-size:215% 110%;
background-position:-420px 0
}

.featured-projects__submit > p {
font-size:20px;
margin:21px 0 0
}

.featured-projects__submit > input {
margin:14px 0 35px;
float:none;
font-size:18px
}

.container__our-services {
padding:0 0 40px
}

ul.our-services__links {
margin:17px 40px 0 0;
float:left
}

.our-services__description {
float:none
}

.our-services__description > li {
width:auto;
margin-right:35px
}

.our-services__links > li {
margin:0 0 17px 35px
}

.our-services__description h5 {
margin:0 0 17px;
font-size:23px;
letter-spacing:1.7px
}

.our-services__description > li:last-child > p {
margin:15px 0 0;
font-size:19px
}

.team-quotes__img {
display:none
}

.container__team-quotes {
padding:35px 0 35px 35px;
background-size:215% 110%;
background-position:-360px 0
}

.container__team-quotes ul >li {
width:auto;
margin:10px
}

.container__team-quotes h4 {
font-size:23px;
margin:0 0 25px
}

.container__team-quotes > ul > li:nth-child(2) {
margin:0 0 22px
}

.container__team-quotes > ul > li:nth-child(2) > p {
font-size:18px;
line-height:1.8
}

.container__team-quotes > ul > li:nth-child(3) > p {
font-size:16px
}

.container__team-quotes > ul > li:nth-child(4) > p {
font-size:16px
}

.container__the-portfolio {
padding:0 5px
}

.the-portfolio__nav {
margin:0 0 0 -7px;
text-align:center;
float:none;
position:static
}

.the-portfolio__nav > li {
width:156px;
display:inline-block;
float:none;
position:static;
margin:15px 0
}

.the-portfolio__nav > li > a {
font-size:24px;
padding:0;
margin:0
}

.the-portfolio__galery {
text-align:center;
-moz-column-count:2;
-webkit-column-count:2;
column-count:2;
margin:15px 0 0;
max-width: 640px;
}

.galery__img {
width:309px
}

.galery__hover-menu {
height:209px;
top:50%;
margin:-115px 0 0;
width:auto;
padding:0 30px
}

.galery__hover-menu > h4 {
font-size:24px
}

.galery__hover-menu > h4:after {
content:'';
width:33px;
height:2px;
margin:9px 0 13px
}

.galery__hover-menu > p {
font-size:18px;
height:79px;
letter-spacing:.5px;
line-height:1.5
}

.hover-menu > a {
width:34px;
height:34px;
border:3px solid #fff;
border-radius:17px
}

.hover-menu > a:nth-of-type(1) {
margin:55px 0 0 63px
}

.hover-menu > a:nth-of-type(2) {
margin:55px 0 0 37px
}

.container__start-project {
margin:15px 0 0
}

.container__start-project > a {
margin:28px auto 30px;
font-size:18px
}

.container__the-team {
margin:0 10px 30px
}

.the-team__slideshow-wrap {
height:100%
}

.the-team__slideshow-inner >ul > li {
margin-bottom:30px;
padding-bottom:30px;
text-align:center;
border-bottom:2px dashed #19bd9a;
margin-bottom:30px
}

.the-team__slideshow-inner >ul > li:nth-last-of-type(1) {
border-bottom:none;
padding-bottom:0
}

.the-team__slideshow-inner >ul > li >h6 {
padding:0;
margin:0 0 24px;
font-size:18px
}

.the-team__slideshow-inner >ul > li >h5 {
padding:0 0 5px;
margin:0;
font-size:20px
}

.the-team__slideshow-inner >ul > li >p {
letter-spacing:.6px;
padding:0;
font-size:19px;
line-height:25px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(1) {
height:341px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
margin:43px 0 0
}

.the-team__slideshow-wrap label {
display:none
}

.container__contact > p {
font-size:21px;
margin:27px 0 0
}

.container__contact > a {
font-size:18px;
margin:28px auto 37px
}

.container__testimonials {
padding:0 0 40px
}

.testimonials__slideshow-wrap label {
display:none
}

.testimonials__slideshow-wrap {
margin:0 10px;
height:100%;
padding:51px 0 0
}

.testimonials__slideshow-inner >ul > li {
padding:0 10px 25px 25px;
border-bottom:2px dashed #19bd9a;
margin-bottom:25px
}

.testimonials__slideshow-inner >ul > li:nth-last-of-type(1) {
border-bottom:none;
margin-bottom:10px
}

.testimonials__slideshow-inner >ul > li >p {
letter-spacing:.9px;
font-size:19px;
line-height:27px;
height:auto;
overflow:inherit
}

.testimonials__slideshow-inner >ul > li > img:nth-of-type(1) {
height:160px;
width:160px;
margin-bottom:20px
}

.container__news {
background-position:bottom;
background-color:#000;
background-repeat:no-repeat
}

.news__description-header {
margin:0 0 0 28px
}

.news__slideshow-wrap {
height:auto;
padding:10px 0 15px
}

.news__slideshow-inner {
margin:0 0 0 28px;
height:100%
}

.news__slideshow-inner >ul {
padding:0 25px 0 0;
width:100%
}

.news__slideshow-inner >ul > li {
padding-bottom:40px;
border-bottom:2px dashed #81868e;
margin-bottom:25px
}

.news__slideshow-inner >ul > li:nth-last-of-type(1) {
border:none;
margin-bottom:0
}

.news__slideshow-inner >ul > li >h5 {
font-size:23px;
letter-spacing:.8px
}

.news__slideshow-inner >ul > li >h6 {
font-size:19px;
letter-spacing:1.3px
}

.stats > li >p {
font-size:18px;
color:#d2e4e9
}

.news__slideshow-inner > ul > li > p {
letter-spacing:.9px;
font-size:19px;
line-height:27px;
margin:30px 0 45px;
height:auto;
overflow:hidden
}

.news__slideshow-inner >ul > li >a {
font-size:20px
}

.news__slideshow-wrap label {
display:none
}

.container__our-price {
padding:0 0 5px
}

.our-price__block {
height:332px;
width:253px;
float:none;
right:0;
margin:0 24px 35px;
text-align:left;
vertical-align:top
}

.container__our-price > ul {
float:none;
left:0;
text-align:center
}

.our-price__block > h5 {
font-size:55px
}

.our-price__block > p {
font-size:24px
}

.our-price__block >h3 {
font-size:22px
}

.our-price__block >a {
font-size:20px
}

.our-price__block >a::after {
margin:29px 0 0 10px
}

.block__servise-list {
margin:18px 0 0 33px
}

.block__servise-list > li > p {
font-size:19px
}

.container__subscribe-us ul {
padding:0 0 40px
}

.e-mail {
font-size:19px
}

.submit-button {
font-size:20px;
padding:2px 49px 0
}

.container__contact-us > ul {
margin:0 0 5px;
padding:0;
list-style:none;
float:none;
text-align:center
}

.container__contact-us > ul > li {
margin:0 10px 20px;
float:none;
display:inline-block;
max-width:310px;
padding:5px 5px 23px;
vertical-align:top;
overflow:auto
}

.contact-us__contacts > dt {
font-size:22px
}

.contact-us__contacts a {
font-size:19px;
margin:0 0 -10px;
padding:0
}

.contact-us__office {
font-size:20px;
margin:-2px 0 0;
line-height:26px;
padding:0 14px 40px 0
}

.container__submit-now {
padding:40px 70px;
text-align: center;
}

.container__submit-now .e-mail {
width:65%;
margin:0 0px 20px 0
}

.container__submit-now textarea {
border-color:#d8dce0;
width:100%;
height:190px;
margin:20px 0 25px;
resize:none;
font-size:20px
}

.container__submit-now .submit-button {
font-size:20px;
height:53px
}

.container__map {
height:100px
}

.container__map iframe {
display:none
}

.container__map_active {
height:100%
}

.container__map_active > a {
height:100%;
line-height:100px;
opacity:1;
font-size:22px
}

.container__map_active span {
left:69%;
top:32%;
width:36px;
height:36px;
background-image:url(../images/sprite-1.png);
background-position:-15px -7px
}

.footer {
padding:35px 0 40px
}

.footer__social > li {
margin:0 10px
}

.footer > h3 {
font-size:28px
}

.footer > p {
font-size:20px
}

.footer__social > li > a {
width:52px;
height:52px
}

.footer__social >li:nth-child(1) > a {
background-image:url(../images/sprite-2.png);
background-position:-12px -620px
}

.footer__social >li:nth-child(2) > a {
background-image:url(../images/sprite-2.png);
background-position:-14px -696px
}

.footer__social >li:nth-child(3) > a {
background-image:url(../images/sprite-2.png);
background-position:-16px -770px
}

.footer__social >li:nth-child(4) > a {
background-image:url(../images/sprite-2.png);
background-position:-14px -836px
}

.footer__social >li:nth-child(5) > a {
background-image:url(../images/sprite-2.png);
background-position:-14px -904px
}
}

@media screen and (max-width: 666px) {
.wrapper {
max-width:666px
}

.header__content {
width:100%;
height:100%
}

.header__content h2 {
margin:0 0 17px;
word-spacing:2px
}

.header__content > p {
margin:0 0 16px;
}

.link-green {
margin:0 auto 20px
}

.container__about-us {
padding:0 25px 30px 0
}

.container__about-us > h4 {
margin:40px 0 0 20px;
}

.container__about-us > img {
margin:39px 0 0 10px;
width:169px;
height:auto
}

.container__about-us > p {
width:auto;
margin:20px 0 10px 20px;
line-height:1.8
}

.container__about-us > a {
width:160px;
padding:4px 28px 0;
margin:19px auto 0
}

.container__about-us-details {
padding:0 25px 25px
}

.description-header {
width:auto;
margin:0 auto;
padding:20px 0 25px
}

.description-header h4 {
margin:0 0 10px
}

.description-header p {
font-size:20px;
margin:0 5px
}

.container__about-us-details > h5 {
margin:25px 0 20px;
text-align:center;
padding:0;
}
.featured-projects__links {
text-align:center
}

.featured-projects__submit > input {
margin:16px 0 20px;
width:160px
}

.featured-projects__submit {
background-size:200% 100%;
background-position:-250px 0
}

.our-services__description h5 {
margin:0 0 17px 25px;
letter-spacing:1.7px
}

.our-services__description p {
margin-left:25px
}

.our-services__description > li:last-child > p {
margin:15px 0 0 25px;
font-size:20px;
line-height:30px
}

.our-services__img {
float:none;
width:452px;
margin:30px auto 0;
display:block
}

ul.our-services__links {
margin:0;
text-align:center;
float:none
}

.our-services__links > li {
margin:0 12px 25px;
display:inline-block
}

.container__our-services {
padding:0 0 25px
}

.container__team-quotes {
padding:25px 0 25px 25px;
background-size:200% 100%;
background-position:-200px 0
}


.container__team-quotes > ul {
padding:0
}

.container__team-quotes ul >li {
width:auto;
margin:0
}

.container__team-quotes h4 {
font-size:25px;
margin:0 0 20px
}


.the-portfolio__galery {
text-align:center;
-moz-column-count:1;
-webkit-column-count:1;
column-count:1
}

.galery__img {
width:320px
}

.galery__hover-menu > h4 {
font-weight:700
}

.galery__hover-menu > h4:after {
display:none
}

.galery__hover-menu > p {
height:79px;
letter-spacing:.5px;
line-height:1.5
}

.galery__hover-menu > a {
width:46px;
height:46px;
border:none;
border-radius:23px
}

.galery__hover-menu > a:nth-of-type(2) {
background-image:url(../images/sprite-2.png);
background-position:-5px -963px
}

.galery__hover-menu > a:nth-of-type(1) {
background-image:url(../images/sprite-2.png);
background-position:-6px -1035px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(1) {
height:240px;
padding-right:10px
}

.the-team__slideshow-inner >ul > li >h5 {
padding:0 15px 10px 0
}

.the-team__slideshow-inner >ul > li >h6 {
padding:0 15px 0 0;
margin:0 0 24px;
font-size:20px
}

.the-team__slideshow-inner >ul > li >p {
padding:0 10px 0 0;
line-height:28px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
margin:25px 0 0
}

.container__contact > a {
margin:28px auto 25px;
width:160px;
padding-top:4px
}

.container__testimonials__slideshow-wrap {
padding:25px 0 0
}

.container__testimonials {
padding:0 0 10px
}


.news__slideshow-inner > ul > li > p {
line-height:28px;
margin:30px 0 25px
}

.news__description-header {
margin-left:22px
}

.news__description-header > h4 {
margin-left:3px
}

.news__slideshow-inner >ul > li {
padding-bottom:20px
}


.block__servise-list {
margin:10px 0 0 28px
}

.container__subscribe-us ul {
margin:2px 0 0;
padding:0 0 15px;
float:none;
left:0;
text-align:center
}

.container__subscribe-us li {
margin-bottom:20px;
float:none;
right:0
}

.e-mail {
width:290px
}

.container__submit-now .e-mail {
width:100%;
}
.contact-us__contacts a {
margin:0 0 -10px
}

.contact-us__contacts {
margin:0 0 0 -15px
}

.container__contact-us > ul > li {
margin:0 5px 20px
}


.container__submit-now {
padding:40px 70px 30px
}

.container__map_active span {
left:77%
}

.footer {
padding:25px 0 30px
}


.footer__social > li {
margin:0 6px
}
}

@media screen and (max-width: 567px) {
.wrapper {
max-width:567px
}

.header__nav > li {
margin:15px 0
}

.featured-projects__links > li {
    float: none;
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}
.featured-projects__links > li:nth-child(1) {
    width: 100%;
}
.featured-projects__links > li:nth-child(2) {
    width: 50%;
    float: left;
}
.featured-projects__links > li:nth-child(3) {
    width: 50%;
    float: left;
}
.featured-projects__links img {
    width: 100%;
}
.the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
width:auto
}
}

@media screen and (max-width: 479px) {
.wrapper {
max-width:479px
}

.header__nav {
margin:0;
float:none;
left:0;
text-align:center
}

.header__nav > li {
float:none;
right:0;
width:100%
}

.header__nav > li > a {
width:100%;
font-size:32px;
margin:0;
display:inline;
padding:0 20px;
border-radius:27px
}

.header__content h2 {
margin:0 0 17px;
word-spacing:0;
}


.container__about-us {
padding:0 20px 30px
}

.container__about-us > img {
margin:18px 0 0 -90px;
width:180px;
height:auto;
float:none;
position:relative;
left:50%;
top:0
}

.container__about-us > h4 {
margin:20px 0 0;
text-align:center;
display:block
}

.container__about-us > p {
margin-left:0
}

.container__about-us > a {
width:170px;
margin:19px auto 0
}


.description-header p {
margin:0 5px
}



.featured-projects__links > li:nth-child(1) > img {
height:171px
}

.featured-projects__links > li:nth-child(2) {
margin-left:0
}


.featured-projects__submit {
background-size:300% 100%;
background-position:-350px 0
}

.featured-projects__submit > input {
width:164px
}

.our-services__img {
display:none
}

.container__team-quotes {
padding:25px;
background-size:400% 100%;
background-position:-400px 0
}


.the-portfolio__nav {
margin:15px 0 0;
text-align:center;
float:none;
position:static
}

.the-portfolio__nav > li {
display:inline-block;
float:none;
position:static;
margin:15px 0;
width:100%
}


.container__the-portfolio {
padding:0
}

.the-portfolio__galery > li {
margin:0 0 3px
}

.container__start-project > p {
margin:22px 14px 0
}

.container__start-project > a {
margin:28px auto 30px;
width:166px;
padding-top:3px
}

.the-team__slideshow-inner >ul > li > img:nth-of-type(1) {
height:294px;
padding:0;
margin-bottom:15px;
float:none
}


.the-team__slideshow-inner >ul > li >h6 {
padding:0 15px 0 0;
margin:0 0 24px 15px;
}

.the-team__slideshow-inner >ul > li >p {
padding:0 10px;
}


.testimonials__slideshow-inner >ul > li {
padding:0 10px 20px 15px;
border-bottom:2px dashed #19bd9a;
margin-bottom:25px
}

.testimonials__slideshow-inner >ul > li > img:nth-of-type(1) {
height:130px;
width:130px;
margin:0 12px 20px 0
}


.news__slideshow-inner >ul > li >h6 {
margin-top:10px
}


.news__slideshow-inner > ul > li > p {
line-height:28px;
margin:30px 0 25px
}

.container__subscribe-us .e-mail {
width: 80%;
}
.container__submit-now {
padding:40px 15px 30px
}

.container__submit-now .submit-button {
height:53px
}


.container__submit-now textarea {
}

.container__map_active > a {
height:100%;
line-height:70px;
opacity:1;
padding-right:0
}

.container__map {
height:110px
}

.container__map_active span {
left:45%;
top:56%
}
}

@media screen and (max-width: 374px) {
.wrapper {
max-width:374px
}

.header {
background-position:-125px 0;
background-size:240% 100%
}
.our-services__links > li {
    margin: 0 9px 25px;
    display: inline-block;
}
.footer__social > li {
    margin: 0 4px;
}
}