@media screen and (max-width: 479px) {
    .wrapper {
	    width: 320px;
    }
    .header {
	    background-position: -295px 0px;
	    background-size: 500% 100%;
	}
	.header__nav {
	    margin: 0;
	    float: none;
	    left: 0%;
	    text-align: center;
	}
	.header__nav > li {
	    float: none;
	    right: 0%;
	    width: 100%;
	}
	.header__nav > li > a {
	    width: 100%;
	    font-size: 34px;
	    margin: 0;
	    display: inline;
	    padding: 0px 20px 0 20px;
	    border-radius: 27px;
	}
	.header__content h2 {
	    margin: 0 0 17px 0px;
	    word-spacing: 0px;
	    font-size: 33px;
	}
	.header__content > p {
	    font-size: 21px;
	}
	.container__about-us {
	    padding: 0 20px 30px 20px;
	}
	.container__about-us > img {
	    margin: 18px 0px 0 -90px;
	    width: 180px;
	    height: auto;
	    float: none;
	   position:relative;
		left: 50%; 
		top: 0%
	}
	.container__about-us > h4 {
	    margin: 20px 0 0 0px;
	    font-size: 28px;
	    text-align: center;
	    display: block;
	}
	.container__about-us > p {
	    font-size: 21px;
	    margin-left: 0;
	}
	.container__about-us > a {
	    width: 170px;
	    font-size: 21px;
	    margin: 19px auto 0  auto;
	}
	.description-header h4 {
	    font-size: 28px;
	}
	.description-header p {
	    font-size: 21px;
	    margin: 0 5px 0 5px;
	}
	.container__about-us-details > p:last-of-type {
	       font-size: 21px;
	}
	.container__featured-projects__links img {
	    height: 153px;
	    width: auto;
	}
	.container__featured-projects__links > li:nth-child(1) > img {
	    height: 158px;
	}
	.container__featured-projects__links > li:nth-child(2) {
	    margin-left: 0px;
	}
	.container__featured-projects__links > li> a {
	    line-height: 150px;
	}
	.container__featured-projects__submit {
	    background-size: 300% 100%;
	    background-position: -350px 0px;
	}
	.container__featured-projects__submit > p {
	    font-size: 21px;
	}
	.container__featured-projects__submit > input {
	    font-size: 21px;
	    width: 164px;
	}
	.container__our-services__img {
		display: none;
	}
	.container__team-quotes {
	    padding: 25px 25px 25px 25px;
	    background-size: 400% 100%;
	    background-position: -400px 0px;
	}
	.container__team-quotes h4 {
	    font-size: 28px;
	}
	.container__team-quotes > ul > li:nth-child(2) > p {
	    font-size: 21px;
	}
	.container__team-quotes > ul > li:nth-child(3) > p {
	    font-size: 20px;
	}
	.container__team-quotes > ul > li:nth-child(4) > p {
	    font-size: 20px;
	}
	.container__the-portfolio__nav {
	    margin: 15px 0 0 0px;
	    text-align: center;
	    float: none;
	    position: static;
	}
	.container__the-portfolio__nav > li {
	    display: inline-block;
	    float: none;
	    position: static;	
	    margin:  15px 0 15px 0;
	    width: 100%;
	}
	.container__the-portfolio__nav > li > a {
	    font-size: 31px;
	}
	.container__the-portfolio {
	    padding: 0 0px 0px 0px;
	}
	.container__the-portfolio__galery > li {
	    margin: 0 0 3px 0px;
	}
	.container__start-project > p {
	    font-size: 21px;
	    margin: 22px 14px 0 14px;
	}
	.container__start-project > a {
	    margin: 28px auto 30px auto;
	    font-size: 21px;
	    width: 166px;
	    padding-top: 3px;
	}
	.container__the-team__slideshow-inner >ul > li > img:nth-of-type(1) {
	    height: 294px;
	    padding: 0px;
	    margin-bottom: 15px;
	    float: none;
	}
	.container__the-team__slideshow-inner >ul > li >h5 {
	    font-size: 23px;
	}
	.container__the-team__slideshow-inner >ul > li >h6 {
	    padding: 0 15px 0px 0px;
	    margin: 0 0 24px 15px;
	    font-size: 22px;
	}
	.container__the-team__slideshow-inner >ul > li >p {
	    padding: 0 10px 0 10px;
	    font-size: 21px;
	}
	.container__the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
	    margin: 25px 10px 0 10px;
	}
	.container__contact > a {
	    font-size: 21px;
	}
	.container__testimonials__slideshow-inner >ul > li {
	    padding: 0px 10px 20px 15px;
	    border-bottom: 2px dashed #19bd9a;
	    margin-bottom: 25px;
	}
	.container__testimonials__slideshow-inner >ul > li > img:nth-of-type(1) {
	    height: 130px;
	    width: 130px;
	    margin: 0 12px 20px 0;
	}
	.container__testimonials__slideshow-inner >ul > li >p {
	    font-size: 21px;
	    }
	.container__testimonials__slideshow-inner >ul > li >h5 {
	    font-size: 20px;
	}
	.container__testimonials__slideshow-inner >ul > li >h6 {
	    font-size: 18px;
	}
	.container__news__slideshow-inner >ul > li >h6 {
	    font-size: 21px;
	    margin-top: 10px;
	}
	.stats > li >p {
	    font-size: 20px;
	}
	.container__news__slideshow-inner > ul > li > p {
	    font-size: 21px;
	    line-height: 28px;
	    margin: 30px 0 25px 0;
	}
	.container__news__slideshow-inner >ul > li >a {
	    font-size: 21px;
	}
	.container__submit-now {
	    padding: 40px 15px 30px 15px;
	}	
	.container__submit-now .submit-button {
	    font: 20px Open Sans Regular, sans-serif;
	    height: 53px;
	}
	.container__submit-now .e-mail {
	    width: 100%;
	    margin: 0 27px 20px 0;
	    font-size: 21px;
	}
	.container__submit-now textarea {
	    font-size: 21px;
	}
	.container__map__active > a {
	    height: 100%;
	    line-height: 70px;
	    opacity: 1;
	    font-size: 22px;
	    padding-right: 0;
	}
	.container__map {
	    height: 110px;
	}
		.container__map__active span {
	    left: 45%;
	    top: 56%;
	}

}