@media screen and (max-width: 374px) {
    .wrapper {
	    width: 320px;
    }
    .header {
	    background-position: -295px 0px;
	    background-size: 430% 100%;
	}
	.container__featured-projects__links img {
	    height: 153.5px;
	}

}