@media screen and (max-width: 666px) {
    .wrapper {
	    width: 480px;
    }
      .header {
	    background-position: -225px -55px;
	}
       .logo {
	    float: none;
	    text-align: center;
	    margin: 10px 0 0 0;
	}
       .logo > h3 {
	    font-size: 42px;
	    margin-bottom: 35px;
	}
	.header__nav {
		margin: 0 0 0 -15px;
		text-align: center;
		text-align: center;
	      float: none;
	 	position: static;
	}
	.header__nav > li {
	    width: 110px;
	    display: inline-block;
	    float: none;
	    position: static;	
	    margin:  15px 0 15px 0
	}
	.header__nav > li > a{
          margin: 0 0px 0px 0px;
          padding: 0;
          font-size: 24px;
	}
	.header__content {
	    margin: 13px auto 0px;
	    width: 100%;
	    height: 100%;
	}
	.header__content h2 {
	    margin: 0 0 17px 0px;
           word-spacing: 2px;		
	}
	.header__content > p {
		margin: 0 0 16px 0;
		font-size: 20px;
	}
	.link-green {
	    margin: 0 auto 20px auto;
	}
	.container__about-us {
	    padding: 0 25px 30px 0;
	}
	.container__about-us > h4 {
	    margin: 40px 0 0 20px;
	    font-size: 26px;
	}
	.container__about-us > img {
	    margin: 39px 0px 0 10px;
	    width: 169px;
	    height: auto;
	}
	.container__about-us > p {
	    width: auto;
	    margin: 20px 0px 10px 20px;
	    font-size: 20px;
	    line-height: 1.8;
	}
	.container__about-us > a {
	    width: 160px;
	    font-size: 20px;
	    padding: 4px 28px 0 28px;
	    margin: 19px auto 0 auto;
	}
	.container__about-us-details {
	    padding: 0 25px 25px 25px;
	}
	.description-header {
	    width: auto;
	    margin: 0 auto;
	    padding: 20px 0 25px 0;
	}
	.description-header h4 {
	    margin: 0 0 10px 0;
	}
	.description-header p {
	    font-size: 20px;
	    margin: 0 5px 0 5px;
	}
	.container__about-us-details > h5 {
	    margin: 25px 0px 20px 0px;
	    text-align: center;
	    padding: 0;
	    font-size: 26px;
	}
	.container__about-us-details > p:first-of-type {
		font-size: 24px;
	}
	.container__about-us-details > p:last-of-type {
	       font-size: 20px;
	}
	.container__featured-projects__links {
		text-align: center;
	}
	.container__featured-projects__links > li:nth-child(1) {
	    width: auto;
	    float: none;
	}
	.container__featured-projects__links > li:nth-child(2) {
	    width: auto;
	    float: left;
	    margin-left: 31px;
	}
	.container__featured-projects__links > li:nth-child(3) {
	    width: auto;
	    float: left;
	}
	.container__featured-projects__links img {
	    height: 200px;
	    width: auto;
	}
	.container__featured-projects__links > li:nth-child(1) > img {
		height: 190px;
	}
	.container__featured-projects__links > li> a {
	    line-height: 192px;
	    font-size: 20px;
	}
	.container__featured-projects__submit > input {
	    margin: 16px 0px 20px 0;
	    font-size: 20px;
	    width: 160px;
	}
	.container__featured-projects__submit {
	    background-size: 200% 100%;
	    background-position: -250px 0px;
	}
	.container__our-services__description h5 {
	    margin: 0px 0px 17px 25px;
	    font-size: 23px;
	    letter-spacing: 1.7px;
	}
	.container__our-services__description p {
	    font-size: 20px;
	    margin-left: 25px;
	}
	.container__our-services__description > li:last-child > p {
	    margin: 15px 0px 0 25px;
	    font-size: 20px;
	    line-height: 30px;
	}
	.container__our-services__img {
	    float: left;
	    margin: 30px 0 0 13px;
	}
	ul.container__our-services__links {
	    margin: 0px 0px 0px 0px;
	    text-align: center;
	    float: none;
	}
	.container__our-services__links > li {
	    margin: 0 12px 25px 12px;
	    display: inline-block;
	}
	.container__our-services {
	    padding: 0 0 25px 0;
	}
	.container__team-quotes {
    padding: 25px 0 25px 25px;
    background-size: 200% 100%;
    background-position: -200px 0px;
}
	.container__team-quotes > ul > li:nth-child(2) > p {
	    font-size: 20px;
	}
	.container__team-quotes > ul {
	    padding: 0;	
	}
	.container__team-quotes ul >li {
	    width: auto;
	    margin: 0px;
	}
	.container__team-quotes h4 {
		font-size: 25px;	
		margin: 0 0 20px 0;
	}
	.container__team-quotes > ul > li:nth-child(3) > p {
		font-size: 18px;
	}
	.container__team-quotes > ul > li:nth-child(4) > p {
		font-size: 18px;
	}
	.container__the-portfolio__galery {
		  text-align: center;
		  -moz-column-count: 1;
		  -webkit-column-count: 1;
		  column-count: 1;
	}
	.container__the-portfolio__galery__img {
	    width: 320px;
	}
	.container__the-portfolio__galery__hover-menu > h4 {
	    font-size: 26px;
	    font-weight: bold;
	}
	.container__the-portfolio__galery__hover-menu > h4:after {
		display: none;
	}
	.container__the-portfolio__galery__hover-menu > p {
	    font: 21px Open Sans Regular, sans-serif;
	    height: 79px;
	    letter-spacing: 0.5px;
	    line-height: 1.5;
	}
	.container__the-portfolio__galery__hover-menu > a {
	    width: 46px;
	    height: 46px;
	    border: none;
	    border-radius: 23px;
	}
	.container__the-portfolio__galery__hover-menu > a:nth-of-type(2) {
	    background-image: url(../images/sprite-2.png);
	    background-position: -5px -963px;
	}
	.container__the-portfolio__galery__hover-menu > a:nth-of-type(1) {
	    background-image: url(../images/sprite-2.png);
	    background-position: -6px -1035px;
	}
	.container__the-team__slideshow-inner >ul > li > img:nth-of-type(1) {
	    height: 240px;
	    padding-right: 10px;	
	}
	.container__the-team__slideshow-inner >ul > li >h5 {
	    font-size: 22px;
	    padding: 0 15px 10px 0px
	}
	.container__the-team__slideshow-inner >ul > li >h6 {
	    padding: 0 15px 0px 0px;
	    margin: 0 0 24px 0;
	    font-size: 20px;
	}
	.container__the-team__slideshow-inner >ul > li >p {
	    padding: 0 10px 0 0;
	    font-size: 20px;
	    line-height: 28px;
	}
	.container__the-team__slideshow-inner >ul > li > img:nth-of-type(2) {
	    margin: 25px 0px 0 0;
	}
	.container__contact > a {
	    font-size: 20px;
	    margin: 28px auto 25px auto;
	    width: 160px;
	    padding-top: 4px;
	}
	.container__testimonials__slideshow-wrap {
	    padding: 25px 0 0px 0;
	}
	.container__testimonials {
	    padding: 0 0px 10px 0px;
	}
	.container__news__slideshow-inner >ul > li >h6 {
	    font-size: 20px;
	}
	.stats > li >p {
	    font-size: 19px;
	}
	.container__news__slideshow-inner > ul > li > p {
	    font-size: 20px;
	    line-height: 28px;
	    margin: 30px 0 25px 0;
	}
	.container__news__description-header {
	    margin-left: 22px;
	}
	.container__news__description-header > h4 {
	    margin-left: 3px;
	}
	.container__news__slideshow-inner >ul > li {
	    padding-bottom: 20px;
	}
	.container__our-price__block__servise-list > li > p {
	    font-size: 21px;
	}
	.container__our-price__block__servise-list {
	    margin: 10px 0 0 28px;
	}
	.container__subscribe-us ul {
	    margin: 2px 0 0 0;
	    padding: 0 0 15px 0;
	    float: none;
	    left: 0;
	    text-align: center;
	}
	.container__subscribe-us li {
	    margin-bottom: 20px;
	    float: none;
	    right: 0;
	}
	.container__our-price__block >a {
	    font-size: 22px;
	}
	.e-mail {
	    font-size: 21px;
	    width: 290px;
	}
	.container__contact-us_contacts > dt {
	    font-size: 24px;
	}
	.container__contact-us_contacts a {
	    font-size: 20px;
	    margin: 0px 0 -10px 0;
	}
	.container__contact-us_contacts {
	    margin: 0 0 0 -15px;
	}
	.container__contact-us > ul > li {
	    margin: 0px 5px 20px 5px;
	}
	.contact-us_office {
	    font-size: 21px;
	}
	.container__submit-now {
	    padding: 40px 70px 30px 70px;
	}
	.container__map__active span {
	    left: 77%;
	}
	.footer {
	    padding: 25px 0 30px 0;
	}
	.footer > p {
	    font-size: 21px;
	}
	.footer > h3 {
	    font-size: 30px;
	}
	.footer__social > li {
	    margin: 0 6px 0 6px;
	}

}