*,
*:before,
*:after{
	box-sizing: border-box
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em/1.6em ;
  color: #353535;
  background-color: #ccc;
}
img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto
}

.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.section {
	text-align: center;
}
#mainMenu {
	position: fixed;
	z-index: 999;
	top: 18px;
	left: 15px;
}
.mainMenu {
	margin: 0;
	list-style: none;
	padding: 0;
}
.mainMenu__item {
	display: inline-block;
}
.menu__link {
	text-decoration: none;
	color: #353535;
	background: rgba(255,255,255,0.82);
	padding: 8px;
	margin: 0 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #444;
	-webkit-transition:all 0.2s;
	transition: all 0.2s;
}
.mainMenu__item.active .menu__link {
	color: #fff;
	background-color: #000;
	-webkit-transform: all 0.3s;
	-ms-transform: all 0.3s;
	-webkit-transition:all 0.2s;
	transition: all 0.2s;
}
.menu__link:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.52);
	-webkit-transform: all 0.3s;
	-ms-transform: all 0.3s;
	-webkit-transition:all 0.2s;
	transition: all 0.2s;
}
.portfolio-wrap {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.portfolio-item {
    position: relative;
	display: inline-block;
	width: 350px;
	margin: 15px;
}
.img-box:hover {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.portfolio__overlay {
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 185px;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    background-color: #2e3137;
    background: rgba(174,223,223,.6);
    -webkit-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
    border-radius: 2px;
}
.img-box {
	width: 100%;
	height: auto;
	border: 5px solid #83659D;
	border-radius: 6px;
}
.img-box:hover {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.img-box > img {
	width: 100%;
	height: auto;
	display: block;	
}
.img-box:hover .portfolio__overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.6s ease 0.1s;
            transition: 0.6s ease 0.1s;
}
.img-box:hover > .portfolio__overlay {
  top: 0px;
}


.portfolio-item > h3 {
	font: 22px 'Open Sans', sans-serif;
	color: #BFE2E2; 
}
.portfolio-link {
	display: block;
	text-decoration: none;
	background-color: #56FFC7;
	color: #000;
	padding-top: 18px;
	font-family: 'Seymour One', sans-serif;
	font-size: 	20px;
	font-weight: 400;
	margin: 13px auto;
	width: 200px; 
	height: 65px;
	border: 4px solid transparent;
	border-radius: 4px;
	-webkit-transition: 0.4s ease 0.1s;
            transition: 0.4s ease 0.1s;
}
.portfolio-link:hover {
	border: 4px solid #00DB68;
}
.p1 {
	background-image: url(../images/fon4.jpg);
	background-size: cover;
}
.text__bg {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
}
.p1__name, .p1__disc, .p1__lozung {
    line-height: 1em;
}
.p1__name, .p1__disc {
    color: #61C2FF;
    text-shadow: 1px 1px 2px #000;
}
.p1__lozung {
    text-shadow: 1px 1px 2px #000;
    font-size: 21px;
    color: #ccc;
    font-weight: 300;
}
.p1__name {
    font-size: 41px;
}
.p1__disc {
    font-size: 33px;
    margin-bottom: 60px;
}
.p2 {
	background-image: url(../images/fon5.jpg);
	background-size: cover;
}
.p3 {
	background-image: url(../images/fon2.jpg);
	background-size: cover;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.p__right {
	width: 50%;
	margin-right: 10%;
	text-align: left;
	margin-top: 40px;
}
.p__left {
	width: 40%;
	text-align: center;
	margin-top: 40px;
}
.zag {
	color: #eee;
	font-size: 29px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.4em;
    margin: 20px 0;
}
.p2__akcent {
    color: #ff6131;
    font-weight: 400;
    font-size: 23px;
}
.p2__buldisc {
    color: #bbb;
    font-weight: 300;
    font-size: 17px;
    padding: 0 0 0 73px;
    margin: 0;
    line-height: 1.5em;
}
.p2__bulname {
    font-size: 21px;
    color: #ddd;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 300
}
.p2__bul{
	margin: 20px 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #009D1D;
}
.zag_hover {
    color: #444;
}
.zag_hover:hover, .zag_hover:hover .blue {
    color: #D00000;
}
.blue {
    color: #016FAF;
    font-weight: 400;
    -webkit-transition:all .4s;
    transition: all .4s;
}
.text-block {
	margin-top: 1em;
	margin-bottom: 1em;
}
.social {
	margin: 0;
	padding: 0;
	list-style: none;
}
.social > li {
	display: inline-block;
	margin: 40px 7px 10px 7px; 
	m
}

.text__bg > a {
	text-decoration: none;
}
.social__link {
  display: block;
  color: #fff;
  background-color: #FF4E4D;
  text-decoration: none;
  width: 47px;
  height: 47px;
  border-radius: 3px;
}
.social__link:hover {
  color: #FF4E4D;
  background-color: #FFf;
   -webkit-transition: .5s;
   transition: .5s;
}
.social__link > i {
  font-size: 36px;
  position: relative;
	top: 4px;
}
