/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:100%;
  min-height: 457px;
}
#carousel {
  max-width: 950px;
  margin: 0 auto;
  background-color: transparent;
  position:relative;
}
.carousel-image {
  border:0;
  display:block;
  max-width: 100%;
  border-radius: 5px;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
  max-width: 619px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35), 0 0 20px rgba(0, 0, 0, 0.23);
  overflow: visible !important;
}
/*Делаем тени под слайдами*/
.carousel-feature:after {
  z-index: -3;
  position: absolute;
  content: "";
  bottom: 34px;
  height: 10px;
  left: -3%;
  width: 106%;
  background: transparent;
  box-shadow: 0 35px 8px rgba(0, 0, 0, 0.4);
}

#carousel-left {
  position:absolute;
  top:25.8%;
  left: 15.3%;
  z-index: 99;
  cursor:pointer;
  color: #ff9e9c;
  display: block;
  width: 49px;
  height: 49px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-width: 2px;
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  opacity:  0.4;

}
#carousel-right {
  position:absolute;
  top:25.8%;
  z-index: 101;
  right: 15.3%;
  cursor:pointer;
  color: #ff9e9c;
  display: block;
  width: 49px;
  height: 49px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-width: 2px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity:  0.4;

}
#carousel-left:hover, #carousel-right:hover {
  border-width: 3px;
}
