.wrapper {
	overflow: hidden;
	background-image: url(../images/bg.jpg);
	background: rgba(246,246,233,1);
	background: -moz-linear-gradient(left, rgba(246,246,233,1) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(246,246,233,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,233,1)), color-stop(48%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(246,246,233,1)));
	background: -webkit-linear-gradient(left, rgba(246,246,233,1) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(246,246,233,1) 100%);
	background: -o-linear-gradient(left, rgba(246,246,233,1) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(246,246,233,1) 100%);
	background: -ms-linear-gradient(left, rgba(246,246,233,1) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(246,246,233,1) 100%);
	background: linear-gradient(to right, rgba(246,246,233,1) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 50%, rgba(246,246,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6e9', endColorstr='#f6f6e9', GradientType=1 );
}
.navbar-inverse .navbar-toggle {
    border-color: #CDFCFF;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: #CDFCFF;
}
a.navbar-brand {
	font-size: 21px;
}
.navbar-inverse .navbar-nav > li > a {
	 color: #CDFCFF;
	 font-size: 15px;
}
.navbar-inverse .btn-link {
	color: #CDFCFF;
	font-size: 15px;
	margin-top: 0px;
	text-decoration: none;
	padding-top: 13px;
}
.navbar-inverse .navbar-brand {
    color: #E1D16C;
}
.header {
	margin-top: 70px;
}
.contacts > h3 {
	float: left;
	display: block;
	margin-top: 0;
	margin-right: 25px;
}
.contacts > ul {
	list-style: none;
	margin: 2px 0 0 0;
	padding: 0;
	float: left;
}
.contacts > ul >li {
	float: left;
	margin-right: 15px;
}
.contacts	 > ul > li > a {
	font-size: 18px;
	padding-left: 5px;
}
.row > h2 {
	text-align: center;
	margin-bottom: 25px;
}
.lead {
    margin-bottom: 0px;
    color: #6497CD;
    text-align: center;
}
.thumbnail .caption {
    padding: 8px 0 0 0;
}
.content {
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;;
}
.italic-h3 {
	color: #FF0A68;
	font-style: italic;
}
.responsive {
      display: inline-block;
      max-width: 100%;
      height: auto;
      min-height: 277px;
      border: 2px solid #cccccc;
}
.footer-list > li:before {
	content: "\f00c"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	color: blue;
	font-size: 30px;
	padding-right: 15px;
	float: left;
}
.footer-list > li > p {
	font-size: 18px;
	font-style: italic;
	color: #CD5C6F;
	padding-top: 7px;
}
.footer-list > li > p > i {
	font-size: 40px;
	font-style: italic;
	padding: 0px 20px 0px 0;
	color: #4EA650;
}
.blue {
	color: #29ABE2;
}
.container-item img {
	margin-bottom: 20px;
}
@media screen and (max-width:767px) {
	.masonry[data-columns]::before {
		content: '1 .col-xs-12';
	}
}
@media screen and (min-width:768px) and (max-width:991px)  {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}
@media screen and (min-width:992px) and (max-width:1199px) {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}
@media screen and (min-width:1200px) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}
@media screen and (min-width:768px) and (max-width:1199px) {
	 .navbar-inverse .navbar-nav > li > a {
	    padding-top: 8px;
	    padding-bottom: 8px;
	    color: #CDFCFF;
	    font-size: 15px;
	}
	.navbar-inverse .btn-link {
		color: #CDFCFF;
	     padding-top: 6px;
	    padding-bottom: 7px;
	    margin-top: 0px;
	}
	a.navbar-brand {
		margin-top: 10px ;
		margin-bottom: 10px;
	}
	ul.navbar-nav {
		float: none;
	}
	.last {
		display: none;
	}
}